.top-roducts-container {
    display: grid;
    grid-auto-rows: 1fr;
}
.cate-title {
    cursor: pointer;
    display: flex;
    background-color:#f5f5f5;
    padding: 5px;
    border-radius: 5px;
}

h1 {
    width: 25%;
    padding-left: 2%;
    font-weight: 400;
}
.cate-products-list {
    margin-top: 10px;
}
.cate-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.products {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.product {
    margin: 5px;
}
.mat-card {
    margin: 0 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 5px;
    width: 220px;
    height: 250px;
}
.fill {
    flex: 1 1 auto;
}
.image {
    width: 100%;
    max-width: 200px;
    max-height: 200px;
    margin-bottom: 5px;
    /* height: auto; */
}
img {
    padding: 0;
    margin: 0;
    cursor: pointer;
}
.mat-card-title {
    font-weight: 500;
    margin-bottom: 5px;
    font-size: 22px;
}
.mat-card-actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
}
.mat-card-actions span {
    padding: 0 16px;
}
mat-divider {
    margin: 10px 5px;
}