<div class="container">
  <form (ngSubmit)="onSubmit(f)" #f="ngForm" class="form">
    <mat-form-field class="div-username">
      <input matInput type="text" class="input-username"
      placeholder="Enter Username"
      ngModel
      name="username"
      required
      >
    </mat-form-field>
    <mat-form-field class="div-pass">
      <input matInput type="password" class="input-pass"
      placeholder="Enter Password"
      ngModel
      name="pass"
      required
      >
    </mat-form-field>
    <mat-form-field class="div-email">
      <input matInput type="email"
      class="input-email"
      placeholder="Enter Email"
      ngModel
      name="email"
      email
      required
      minlength="4"
      >
      <mat-error *ngIf=""></mat-error>
    </mat-form-field>
    <div class="div-btn">
      <button mat-button type="submit" class="btn-register"
      [disabled]="!f.valid"      
      >Register</button>
      <button mat-button type="button" class="btn-login"
       routerLink="/signin"
       >Go To Login</button>
    </div>
    <mat-error *ngIf="afterSubmit" class="div-error-msg">
       {{ errorMsg }} 
    </mat-error>
  </form>
</div>