<div class="container">
  <form (ngSubmit)="onSubmit(f)" #f="ngForm" class="form">
    <div class="div-username">
      <input type="text" class="input-username"
      placeholder="Enter Username"
      ngModel
      name="username"
      required
      >
    </div>
    <div class="div-pass">
      <input type="password" class="input-pass"
      placeholder="Enter Password"
      ngModel
      name="pass"
      required
      >
    </div>
    <div class="div-email">
      <input type="email"
      class="input-email"
      placeholder="Enter Email"
      ngModel
      name="email"
      email
      required
      >
    </div>
    <div class="div-btn">
      <button type="submit" class="btn-register"
      [disabled]="!f.valid"      
      >Register</button>
      <button type="button" class="btn-login"
       routerLink="/signin"
       >Go To Login</button>
    </div>
    <div *ngIf="afterSubmit" class="div-error-msg">
      <span> {{ errorMsg }} </span>
    </div>
  </form>
</div>