.fill {
    flex: 1 1 auto;
}
.stiky {
    height: auto;
}
.mat-toolbar-row {
    padding: 2px 0 0 5px;
    height: auto;
    flex-wrap: wrap;
    justify-content: space-between;
}
app-search {
    flex: 2;
}