<div class="ship-details-container">
  <div class="title"><h1>Set Shipping Address</h1></div>
  <form [formGroup]="shippingForm" (ngSubmit)="onSubmit()" class="form">

    <mat-form-field class="address">
      <input matInput type="text"
            placeholder="Enter Address"
            formControlName="address">
      <mat-error class="errorMsg"
          *ngIf="shippingForm.get('address').invalid 
                    && shippingForm.get('address').touched">
            Address Must Has Minimum 5 Letters 
      </mat-error>
    </mat-form-field>

    <mat-form-field class="city">
      <input matInput type="text"
            placeholder="Enter City"
            formControlName="city">
      <mat-error class="errorMsg" *ngIf="shippingForm.get('city').invalid
        && shippingForm.get('city').touched">
          City Must Has Minimum 3 Letters 
      </mat-error>
    </mat-form-field>

    <mat-form-field class="country">
        <input matInput type="text"
        placeholder="Choose Country"
        formControlName="country">
      <!-- <mat-select formControlName="country" placeholder="Choose Country">
        <mat-option [value]="country" *ngFor="let country of countries">
          {{ country }}
        </mat-option>
      </mat-select> -->
      <mat-error class="errorMsg" *ngIf="shippingForm.get('country').invalid 
        && shippingForm.get('country').touched">
          country Must Has Minimum 3 Letters 
      </mat-error>
    </mat-form-field>

    <mat-form-field class="phone">
      <input matInput type="tel" formControlName="phone" placeholder="Enter Phone Number" >
      <mat-error class="errorMsg" *ngIf="shippingForm.get('phone').invalid
        && shippingForm.get('phone').touched">
         Phone Number Must Has Minimum 8 Letters 
      </mat-error>
    </mat-form-field>

    <div class="button">
      <button mat-button type="submit" [disabled]="shippingForm.invalid">
        Next
      </button>
      <button mat-button type="button" (click)="back()">
        Back
      </button>
    </div>

  </form>
</div>
