<div class="container">
  <div class="div-category">
    <ul class="category clickOut">
      <li
      class="li clickOut"
      *ngFor="let item of categories; let i = index"
      (click)="clickOnCategory(item, i)"
      [class.active-category]="i == itemSelected"
      (clickOutside)="outSideClick($event)">
        <span [title]="item | titlecase" class="clickOut"> {{ item | titlecase }} </span>
      </li>
    </ul>
  <app-nav-details class="clickOut" *ngIf="activeSubCateDiv" [categorySelected]="categorySelected"></app-nav-details>
</div>
</div>
