* {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}
.container {
    display: flex;
    flex-direction: column;
}
.div-category {
    display: grid;
    grid-template-columns: 1fr minmax(300px, 1fr) 1fr;
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
    "category category category"
    "category-details category-details category-details";
    /* grid-row-gap: 6px; */
    border-top: 2px solid #ffffff;
    color: #ffffff;
    font-size: 18px;
}
.category {
    grid-area: category;
    background-color: #333;
    display: flex;
    justify-content: space-around;
    min-height: 34px;
    list-style: none;
    /* padding: 0 25px; */
}

.category li {
    height: 26px;
    padding: 2px 6px 0 6px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: flex-start;
    align-self: flex-end;
    cursor: pointer;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    transition: 0.3s;
}
app-nav-details {
    grid-area: category-details;
}
.category li:hover {
    background-color: #cccccc;
    color: #333;
    border-bottom: 3px solid #F7F4F3;
}
.active-category {
    background-color: #cccccc;
    color: #333;
    border-bottom: 3px solid #F7F4F3;
}
/* .categoryHover {
    background-color: #cccccc;
    color: #333;
    border-bottom: 3px solid #F7F4F3;
} */