<div class="shopping-container">
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Categories
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <app-nav-categories></app-nav-categories>
            </mat-expansion-panel>
        </mat-accordion>
    <div class="loading">
        <app-loading-progress></app-loading-progress>
        <router-outlet class="router"></router-outlet>
    </div>
</div>
