div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
app-nav-categories {
    width: 100%;
}
app-nav-bar-url {
    width: 100%;
}
.isloading {
    right: 0;
    padding-top: 15%;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    opacity: 0.7;
}