<div class="container">
  <div class="title"> <h1>Login</h1> </div>
  <form [formGroup]="signInForm" (ngSubmit)="onSubmit()"
    class="form">
    <mat-form-field class="div-username">
      <input matInput type="text" class="input-username"
        placeholder="Enter Username"
        formControlName="username"
        autocomplete="username"
        >
      <mat-error *ngIf="signInForm.get('username').invalid
           && signInForm.get('username').touched"> 
           Please enter a username for more than 5 characters </mat-error>
    </mat-form-field>
    <mat-form-field class="div-pass">
      <input matInput type="password" class="input-pass"
        placeholder="Enter Password"
        formControlName="password"
        autocomplete="current-password">
      <mat-error *ngIf="signInForm.get('password').invalid 
            && signInForm.get('password').touched  
            && signInForm.get('username').touched"> 
            Please enter a password for more than 6 characters </mat-error>
    </mat-form-field>
    <div class="div-btn">
      <button mat-button
       type="submit"
        class="btn-login"
        [disabled]="signInForm.invalid"
       >Login</button>
      <button mat-button routerLink="/signup" type="button" class="btn-register">Register</button>
    </div>
    <mat-error *ngIf="afterSubmit">
      {{ errorMsg }}
    </mat-error>
    <!-- <mat-error *ngIf="signInForm.invalid
         && afterSubmit && signInForm.get('password').touched && signInForm.get('username').touched" class="div-error-msg"
         >
       {{ errorMsg | titlecase }} 
    </mat-error> -->
  </form>
</div>