div {
    padding: 0 3px;
    min-width: 120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
}
ul {
    list-style: none;
}
.fill {
    flex: 1 1 auto;
}
.title {
    font-size: 25px;
}
mat-icon {
    margin: 2px 5px 0;
    cursor: pointer;
}