<div class="cart-container">
  <div *ngIf="hasProduct" class="cart-items">
    <app-cart-item *ngFor="let item of getCartProduct(); let i = index"
      [item]="item" [index]="i" [checkbox]="checkedAll" (hasDelete)="deleteCartItem($event)">
    </app-cart-item>
    <mat-divider></mat-divider>
    <div class="button">
      <button mat-button (click)="goToOrders()"> Next </button>
      <button mat-button [routerLink]="['']"> Back </button>
      <button mat-button (click)="pickEverything()"> Pick Everything </button>
    </div>
    <mat-error *ngIf="errorMsg !== ''" class="errorMsg">
        {{ errorMsg | titlecase }}
    </mat-error>
  </div>

  <button mat-button [routerLink]="['']" *ngIf="!hasProduct" class="empty-cart">
    Cart is Empty - Go To Shopping Area
  </button>
</div>
