.cart-container {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title {
    display: flex;
}
.button {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
app-cart-item {
    margin: 7px 5px;
}
.mat-divider {
    margin: 5px;
}
.empty-cart {
    margin-top: 15%;
}
.errorMsg {
    margin-top: 7px;
}