<mat-card class="cart-item-container box">
    <img mat-card-sm-image [src]="item.productDetails.imagePath | oneImage" matTooltip="Go To Product Details" [routerLink]="['/shopping/i', item.productDetails.id]">
  <mat-card-header class="title" matTooltip="Go To Product Details" [routerLink]="['/shopping/i', item.productDetails.id]">
    <p> {{ item.productDetails.name | titlecase }} </p>
  </mat-card-header>
  <mat-card-content class="qty">
    <p class="fQty">Qty</p>
    <p> {{ item.qty }} </p>
  </mat-card-content>
  <mat-card-content class="addToCart">
    <p>Choose For Ship</p>
    <mat-checkbox (change)="addToOrder()" [(ngModel)]="checkbox"></mat-checkbox>
    <button mat-button (click)="deleteFromCart()">Edit</button>
  </mat-card-content>
</mat-card>
