.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.login-containter {
    padding-top: 20px;
    display: grid;
    grid-template-columns: 1f;
    grid-template-rows: repeat(3, auto);
    grid-row-gap: 10px;
    justify-content: center;
    align-items: center;
}
.title-image {
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-image fa-icon {
    font-size: 100px;
    color: #333333;
}
.input-icon {
    position: relative;
}
.input-icon input {
    width: 350px;
    padding-left: 32px;
    height: 25px;
    border-radius: 4px;
    border: 1px solid gray;
    transition: 0.3s;
}
.input-icon fa-icon {
    position: absolute;
    width: 14px;
    left: 0;
    padding: 5px 7px 3px 7px;
    border-right: 1px solid gray;
    border-radius: 3px;
    transition: .3s;
    background-color: gray;
    color: #ffffff;
}
.input-icon input:focus + fa-icon {
    color: dodgerblue;
    background-color: #333333;
}
h1 {
    color: #333333;
    padding-left: 10px;
}
.button {
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
}
.button button {
    font-weight: 600;
    height: 25px;
    min-width: 150px;
    border: 0;
    border-radius: 4px;
    background-color: #9D9C9C;
    cursor: pointer;
    transition: 0.3s;

}
.button button:hover {
    border: 1px solid #717070;
    background-color: #C9C7C7;
}