<mat-divider></mat-divider>
<div class="sub-cate-details">
  <button mat-raised-button color="warn"
    class="category"
    [routerLink]="['/shopping', categorySelected, 'e', 'e']">
      {{ categorySelected }}
  </button>
  <span class="fill"></span>
  <div class="sub-categories">
    <button mat-raised-button
      class="details-items"
      *ngFor="let item of subCate; let i = index"
      routerLinkActive="active"
      [routerLink]="['/shopping', categorySelected, item, 'e']">
        {{ item }} </button>
  </div>
  <span class="end"></span>
</div>