.details-container {
    padding-top: 20px;
    display: grid;
    grid-template-columns: 1fr minmax(900px, 1fr) 1fr;
}
.item-container {
    grid-column-start: 2;
    grid-column-end: 2;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: 70px minmax(200px, 1fr) minmax(200px, 1fr);
    grid-template-areas: 
    "title title title"
    "img . item"
    "img . item";
    grid-column-gap: 10px;
}
.title {
    grid-area: title;
    justify-self: center;
    align-self: center;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 2px;
    color: #333333;
}
.item {
    padding: 10px;
    grid-area: item;    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 500px;
}
.des-p {
    padding: 10px;
    font-weight: 300;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 1px;
}
.des-title-p {
    font-weight: 400;
    font-size: 17px;
    letter-spacing: 2px;
    border-bottom: 1px solid #333333;
    padding-bottom: 2px;
}
.sell-box {
    /* justify-self: flex-end; */
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #333333;
    justify-content: space-around;
    border-radius: 2px;
    align-items: center;
    padding: 5px;
}
.price-div {
    display: flex;
    width: 150px;
    justify-content: space-between;
}
.price-div p:first-child {
    letter-spacing: 2px;
}
.price-div p:last-child {
    letter-spacing: 1px;
}
.add-to-cart-btn {
    border: 0;
    background-color: #F7F4F3;
    height: 40px;
    width: 70px;
    color: #333333;
    letter-spacing: 1px;
    font-weight: 500;
    border-radius: 2px;
    transition: 0.3s;
}
.add-to-cart-btn:hover {
    background-color: rgb(230, 225, 225);
    box-shadow: 0 0 0 2px #F7F4F3;
    font-weight: 600;
    cursor: pointer;
}
.img {
    grid-area: img;
}
img {
    max-width: 400px;
    max-height: 400px;
}