.shopping-category-container {
    margin-top: 5px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto, 2);
    grid-row-gap: 5px;
}
.catetories {
    padding-top: 10px;
    padding: 0 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
}
button {
    position: relative;   
    transition: 0.4s;
    margin: 2px;
}
.active {
    transition: 0.5s;
    color: #ffffff;
    background-color: #673ab7;

}
