<div class="shopping-category-container">
  <div class="catetories">
    <div class="category"
      *ngFor="let item of categories; let i = index">
        <button mat-raised-button [ngClass]="indexCelected === i ? 'active' : ''" (click)="selectSubCate(i)"> {{ item }}</button>
    </div>
  </div>
  <div class="sub-categories">
    <div class="sub-category"
      *ngFor="let item of categories; let i = index">
        <app-nav-details *ngIf="i === indexCelected" [categorySelected]="item"></app-nav-details>
    </div>
  </div>
</div>

<!-- 
<div class="category-container">
  <div class="category-items">
    <div class="category-item"
    *ngFor="let item of categories; let i = index">
      <div class="item" (click)="onCategory(i)"> {{ item }} </div>
      <app-nav-details *ngIf="categorySelected[i]"
        [categorySelected]="item"></app-nav-details>
    </div>

  </div>
</div> -->

<!-- 
<div class="container">
  <div class="div-category">
    <ul class="category clickOut">
      <li
      class="li clickOut"
      *ngFor="let item of categories; let i = index"
      (click)="clickOnCategory(item, i)"
      [class.active-category]="i == itemSelected"
      (clickOutside)="outSideClick($event)"
      >
        <span [title]="item | titlecase" class="clickOut"> {{ item | titlecase }} </span>
      </li>
    </ul>
  <app-nav-details class="clickOut" *ngIf="activeSubCateDiv" [categorySelected]="categorySelected"></app-nav-details>
</div>
</div> -->
