  <div class="shopping-category-container">
    <div class="catetories">
      <div class="category"
        *ngFor="let item of categories; let i = index">
          <button mat-raised-button 
            [ngClass]="indexCelected === i ? 'active' : ''"
            (click)="selectSubCate(i)"> {{ item }}
               <mat-icon [ngClass]="{
                 'hiden': !(indexCelected === i),
                 'show': (indexCelected === i)
                }">keyboard_arrow_up</mat-icon>
          </button>
      </div>
    </div>
    <div class="sub-categories">
      <div class="sub-category"
        *ngFor="let item of categories; let i = index">
          <app-nav-details *ngIf="i === indexCelected" [categorySelected]="item"></app-nav-details>
      </div>
    </div>
  </div>
