.sub-cate-details {
    height: auto;
    padding: 0 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.sub-categories {
    display: flex;
    flex-wrap: wrap;
}
button {
    height: 32px;
}
.sub-categories > button {
    margin: 8px;
}
.fill {
    flex: 1 1 auto;
}
.end {
    visibility: hidden;
}
.active {
    transition: 0.8s;
    color: #ffffff;
    background-color: #e7b6b3;
}

@media screen and (min-width: 1200px) {
    .end {
        visibility: visible;
        flex: 1 1 auto;
    }   
}

@media screen and (max-width: 500px) {
    .sub-cate-details {
        padding: 0;
        height: 120px;
    } 
}