<div class="sub-cate-details">
  <button mat-raised-button color="primary"
    class="category"
    [routerLink]="['/shopping', categorySelected, 'e']">
      {{ categorySelected }}
  </button>
  <span class="fill"></span>
  <div class="sub-categories">
    <button mat-raised-button
      class="details-items"
      *ngFor="let item of subCate"
      [routerLink]="['/shopping', categorySelected, item]">
        {{ item }} </button>
  </div>
  <span class="end"></span>
</div>

<!-- <hr>
<div
 class="item"
  *ngFor="let item of subCate"
  [routerLink]="['/shopping', categorySelected, item]"
  >
  {{ item }}
</div>
<hr> -->

<!-- <div class="background clickOut"></div>
<div class="category-details-container clickOut">
  <div class="category-name-title clickOut"><p> {{ categorySelected | titlecase }} </p></div>
  <div class="category-details-item clickOut">
    <ul class="list-of-details clickOut">
        <li class="sub-categories-names clickOut" *ngFor="let item of getSubCategoryNames()"> 
            <p>{{ item | titlecase }}</p>
            <ul class="categories-image clickOut">
                <li class="clickOut" *ngFor="let img of getReviewProduct(item)"> 
                  <span>
                    <img [src]="img.imagePath" [title]="img.name" [routerLink]="['/shop', img.id]" >
                  </span>
                </li>
            </ul>
        </li>
    </ul>
  </div>
</div> -->