<div class="authTrue" *ngIf="userAuth">
    <span class="fill"></span>
  <p class="span-hi-user"> Hi {{ userName | titlecase }}</p>
  <p class="span-cart-products" *ngIf="cartProduct > 0">, {{ cartProduct }} - </p>
  <app-cart-nav></app-cart-nav>
  <button mat-button (click)="signOut()"> Log Out </button>
</div>
<div class="authFalse" *ngIf="!userAuth">
  <span class="fill"></span>
  <button mat-button [routerLink]="['/signup']">Sign Up</button>
  <button mat-button [routerLink]="['/signin']">Signin</button>
</div>


<!-- <div class="container"> -->
  <!-- <ul *ngIf="userAuth"> -->
    <!-- <li>
      <div>
        <p>
          hello {{ userName | titlecase }}
        </p>
        <p> number of product in the cart {{ cartProduct }} </p>
      </div>
    </li> -->
    <!-- <li>
      <button (click)="signOut()">
        log out
      </button>
    </li>
  </ul> -->
  <!-- <ul *ngIf="!userAuth"> -->
    <!-- <li>
      <a routerLinkActive="active" routerLink="/signup"> 
        <fa-icon [icon]="faPlusSquare" size="s"></fa-icon> Register
      </a>
    </li> -->
    <!-- <li>
      <a routerLinkActive="active" (click)="openQuickLogin()" >
        <fa-icon [icon]="faSignInAlt" size="s"></fa-icon>
        Login
      </a>
   </li>
    <li *ngIf="quickLogin" class="quickLogin" >
      <div>
          <form #f="ngForm" (ngSubmit)="onSubmitNav(f)" class="inputDiv" >
            <div>
              <input 
              autocomplete="username"
              type="text" 
              class="username"
              placeholder="Enter User Name" 
              ngModel 
              name="username" 
              required
               >
            </div>
               <div>
                 <input
                 autocomplete="current-password"
                 type="password"
                 class="pass"
                 placeholder="Enter Password" 
                 name="pass"
                 required
                 ngModel
                     >
               </div>
              <div class="button"> 
                  <button 
                  class="btnIcon"
                  type="submit"
                 [disabled]="!f.valid"
                 [routerLink]=''
                    >
                    <fa-icon 
                    class="submit" [icon]="faArrowAltCircleRight"></fa-icon>
                  </button>
                <button class="btnIcon" (click)="cancelQuickLogin()" title="Cancel">
                  <fa-icon class="cancel" [icon]="faBan"></fa-icon>
                </button>
              </div>
              <div class="errorMsg" *ngIf="afterSubmit">
                <span> {{ errorMsg }} </span>
              </div>
          </form>
      </div>
    </li>
  </ul>
</div> -->
