.authTrue {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.authFalse {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.user {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}
.fill {
    flex: 1 1 auto;
}
.username {
    font-size: 16px;
    padding-right: 7px;
    font-weight: 400;
}

