<div class="container-shopping-item">
    <div class="item">
        <div class="box header">
           <h1 class="title">  {{ product.name }} </h1>
        </div>
        <div class="content">
            <div class="image">
                    <app-photo-gallery [inputImages]="product.imageArray"></app-photo-gallery>
            </div>
            <div class="des-details">
                <div class="des box">
                    <div class="description"> {{product.description }}. </div>
                </div>
                <div class="details">
                    <div class="price box">
                            Price: {{ product.price }}$
                    </div>
                    <app-shopping-cart-box class="box" [product]="product"></app-shopping-cart-box>
                </div>
            </div>
        </div>
    </div>
</div>