@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600,700,800,900');
* {
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}
html , body {
    height: 100%;
    width: 100%;
	
}
