<div class="shopping-header">
  <div class="title" *ngIf="search !== ''"><h1>Search Results: "{{ search }}"</h1></div>
  <mat-divider></mat-divider>
</div>
<div class="container">
  <div class="hasResults" *ngIf="!hasResults && search !== ''">
    <p>Not Found Results</p>
  </div>
  <div class="shopping-item"
   *ngFor="let item of listOfProducts | slice: sliceFrom(pageEvent) : sliceTo(pageEvent) ">
    <mat-card>
        <mat-card-header>
          <mat-card-title> {{ item.name | titlecase }}</mat-card-title>
        </mat-card-header>
        <mat-card-content class="image"> 
            <div class="imageDeferLoad" (deferLoad)="item.imageArray[0].show = true">
              <ng-container *ngIf="item.imageArray[0].show">
                <img mat-card-md-image
                [routerLink]="['/shopping/i', item.id]"
                 [src]="item.imageArray[0].url" [alt]="item.name" (error)="item.imageArray[0].url = defImage">
              </ng-container>
            </div>
        </mat-card-content>
        <mat-card-content>
          <p>
          {{ item.description | slice:0:100 }}...
          </p>
        </mat-card-content>
        <div class="mat-card-bottom">
          <button mat-button
           [routerLink]="['/shopping/i', item.id]" matTooltip="Go To Product Details">Read More</button>
          <span class="price"> Price: {{ item.price }}$ </span>
        </div>
      </mat-card>
  </div>
</div>

  <mat-paginator
    [pageSize]="pageSize"
    [length]="length"
    (page)="pageEvent = $event">
  </mat-paginator>
