<div class="container">
  <div class="shopping-item" *ngFor="let item of getProduct() ">
    <!-- add async? -->
    <mat-card>
        <mat-card-header>
          <mat-card-title> {{ item.name | titlecase }}</mat-card-title>
        </mat-card-header>
        <mat-card-content class="image"> 
        <img mat-card-md-image
        [routerLink]="['/shopping/i', item.id]"
         [src]="item.imagePath | stringSplit" [alt]="item.name">
        </mat-card-content>
        <mat-card-content>
          <p>
          {{ item.description | slice:0:100 }}...
          </p>
        </mat-card-content>
        <div class="mat-card-bottom">
          <button mat-button
           [routerLink]="['/shopping/i', item.id]">Read More</button>
          <span class="price"> Price: {{ item.price }}$ </span>
        </div>
      </mat-card>
  </div>
</div>

<!-- <div class="container">
  <div class="shopping-list">
<div class="shopping-item" *ngFor="let item of getProduct()"> 
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          {{ item.name | titlecase }}
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image [src]="item.imagePath[0]">
      <mat-card-content>
        <p>need to add pipe for min the des and add '...' end</p>
      </mat-card-content>
      <mat-card-action>
        <button mat-button > Read More </button>
      </mat-card-action>
  </mat-card>

  <div class="image" [routerLink]="['/shopping/i', item.id]"> {{ item.id }} 
  </div> -->
  <!-- <div class="name"> {{ item.name }} </div>
  <div class="price"> {{ item.price }} </div> -->

  <!-- <p>{{ i }}</p> -->
<!-- </div>
        
  
  </div>
</div> -->