.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
}
mat-card {
    margin: 5px 0;
    max-width: 275px;
    max-height: 350px;
    justify-content: center; 
    position: static;
}
.mat-card-title {
    font-size: 16px;
}
button {
    position: static;
}
.mat-card-content {
    display: flex;
    flex-direction: column;
}
.image {
    justify-content: center;
    align-items: center;
}
.mat-card-bottom {
    margin: 8px -8px 0 -8px;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2),
     0 1px 1px 0 rgba(0,0,0,.14),
      0 1px 3px 0 rgba(0,0,0,.12);
}
.price {
    padding-right: 16px;
}
.mat-paginator {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
