.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
mat-card {
    margin: 5px 0;
    max-width: 275px;
    max-height: 350px;
    justify-content: center; 
}
.mat-card-title {
    font-size: 16px;
}

