<div class="container">
  <div class="registerCon">
    <div class="titleImage">
      <fa-icon [icon]="faUserCircle"></fa-icon>
      <h1>New Account </h1>
    </div>
    <div class="userName">
      <div class="inputIcon">
        <input type="text" placeholder="Enter User Name">
        <fa-icon [icon]="faUser"></fa-icon>
      </div>
      <span class="checkUser"></span>
    </div>
    <div class="pass">
        <div class="inputIcon">
          <input type="password" placeholder="Enter Password">
          <fa-icon [icon]="faUnlock"></fa-icon>
        </div>
        <span class="checkPass"></span>
    </div>
    <div class="inputIcon">
        <div class="inputConPass">
          <input type="password" placeholder="Confirm Password">
          <fa-icon [icon]="faLock"></fa-icon> 
        </div>
        <span class="checkConPass"></span>
    </div>
    <div class="email">
        
        <div class="inputIcon">
          <input type="email" placeholder="Enter Email">
          <fa-icon [icon]="faEnvelope"></fa-icon> 
        </div>
        <span class="checkEmail"></span>
    </div>
    <div class="button">
      <button>Clear All</button>
      <button>Register</button>
    </div>
    <div class="alert">
      <span>alert</span>
    </div>
  </div>
</div>