.container {
    display: grid;
    grid-template-columns:1fr auto 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
    "nav nav nav"
    ". shopping .";
}
.router {
    grid-area: shopping;
}
app-nav-categories {
    grid-area: nav;
}