<div class="order-details-container">
  <div class="title"><h1>Order Details</h1></div>
  <div class="order-details">
    <mat-card class="item"
      *ngFor="let item of orderDetails.products; let i = index">
      <div class="imageDeferLoad" (deferLoad)="item.imageArray[0].show = true">
        <ng-container *ngIf="item.imageArray[0].show">
          <img mat-card-sm-image 
            [src]="item.imageArray[0].url"
            (error)="item.imageArray[0].url = defImage"
            [matTooltip]="item.name">
        </ng-container>
      </div>
      <mat-card-header class="item-title">
        <p> {{ item.name | titlecase }} </p>
      </mat-card-header>
      <mat-card-content class="qty">
          <p class="fQty">Qty</p>
          <p> {{ orderDetails.productsQty[i] }} </p>
      </mat-card-content>
    </mat-card>
    <div class="total box">
      <p> Total Cost: {{ orderDetails.totalCost }}$</p>
    </div>
  </div>
  <div class="button">
    <button mat-button type="button" (click)="setOrder()">Pay!</button>
    <button mat-button type="button" (click)="cancelOrder()">Cancel Order</button>
  </div>
</div>
